


h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10%;
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    position: relative;
    left: 41%;
  
}

#Decrementbtn{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 35px;
    background-color: rgb(245, 182, 22);
    color: white;
    margin-right: 1%;
   cursor: pointer;
   



}
#Resetbtn{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 35px;
    color: white;
    background-color:rgb(237, 4, 4);
    margin-right: 1%;
    cursor: pointer;

    

    
}
#Incrementbtn{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    height: 35px;
    color: white;
    background-color: green;
    margin-right: 1%;
    cursor: pointer;

}
